<!-- BEGIN main-container -->
<article class="main-container">
  <!-- BEGIN spin-wrapper -->
  <div class="spin-wrapper">
      <div class="spinner"></div>
  </div>
  <!-- END spin-wrapper -->
  <!-- BEGIN container -->
  <div class="container">
    <!-- BEGIN clue -->
    <div class="clue">
        <p><strong>Press Space to start</strong>
          <br>W - forward, S - back
          <br>A - left, D - right
          <br>Use mouse to look around
        </p>
    </div>
    <!-- END clue -->
  </div>
  <!-- END container -->
</article>
<!-- END main-container -->
