<!-- BEGIN main-container -->
<article class="main-container">
  <!-- BEGIN spin-wrapper -->
  <div class="spin-wrapper">
      <div class="spinner"></div>
  </div>
  <!-- END spin-wrapper -->
  <!-- BEGIN container -->
  <div class="container">
    <!-- BEGIN clue -->
    <div class="clue">
        <p>W - forward, S - back
          <br>A - left, D - right
          <br><  > - left/right (rotation)
          <br>←  → - left/right (look)
        </p>
    </div>
    <!-- END clue -->
  </div>
  <!-- END container -->
</article>
<!-- END main-container -->
